<div class="front-office-container" [ngClass]="{'auth-page': isAuthPage}">
  <p-menubar *ngIf="isLoggedIn && !isAuthPage" [model]="menuItems" [style]="{'width': '100%'}">
    <ng-template pTemplate="start">
      <div class="logo-container">
        <img src="assets/logos/main-logo.png" alt="Swim Nation Logo" class="logo">
        <h1 class="m-0">Swim Nation</h1>
      </div>
    </ng-template>
  </p-menubar>
  
  <div class="content" [ngClass]="{'auth-content': isAuthPage}">
    <router-outlet></router-outlet>
  </div>
</div> 